# fly.toml app configuration file generated for bugtracker-dominik-adamczewski on 2025-11-03T16:41:37+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bugtracker-backend-staging-dominik-adamczewski'
primary_region = 'fra'

[build.args]
  NEXT_PUBLIC_API_URL = "https://bugtracker-backend-dominik-adamczewski.fly.dev"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
